{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}TODO Board{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('todo.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
  <p class="body">{{ post['body'] }}</p>
          <h1><a href="{{ url_for('todo.update', id=post['id']) }}">{{ post['title'] }}</a></h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
        {% endif %}
      </header>
      <form method="post">
        <a href="{{ url_for('todo.delete', id=post['id']) }}">Delete</a>
        </form>
      </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
